[2021-04-16 11:37] renovate[bot] opened #14 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [Update dependency argoproj/argo-cd to v2.0.1](../pull/2)
 - [ ] [Update dependency kubeflow/kubeflow to v1.3.0-rc.1](../pull/3)
 - [ ] [Update docker.io/istio/pilot Docker tag to v1.9.3](../pull/4)
 - [ ] [Update d

[2021-04-16 16:33] matty1979 opened #15 "Cluster Autoscaler is required in default settings with HA Redis"
[code]
Edit deployment
kubectl -n kube-system edit deployment.apps/cluster-autoscaler

Update autoscaler deployment flags
[code]

[2021-04-16 16:34] matty1979 opened #16 "Spot Instances"
If Spot instances are used then this needs to be included

Spot instance termination handler

[code]

[2021-04-18 11:35] DavidSpek commented on #15
@matty1979 Is this related to the Argo CD deployment?

[2021-04-18 11:36] DavidSpek commented on #16
Thanks for the information. This can be added to Argo CD as an application, which I'll look into.

[2021-04-18 12:34] DavidSpek commented on #16
@matty1979 I've added an Argo CD application spec for the `aws-node-termination-handler` in [this commit](https://github.com/argoflow/argoflow-aws/commit/c0c99391bbcdb7fcaaf26805dcaf288ff53d2561), and also added it to the root `kustomization.yaml`. Could you please confirm that this application spec works?

[2021-04-18 13:40] DavidSpek commented on #15
@matty1979 I've added an Argo CD application spec for the cluster autoscaler in [this commit](https://github.com/argoflow/argoflow-aws/commit/1882249dff54c60dfdcec0234257b3178d08bd86). Could you please verify this works and solves the problem?

[2021-04-19 17:18] matty1979 commented on #15
This works correctly for cluster-auto-scaler and node termination handler. Both applied correctly via argo.

[2021-04-19 17:22] matty1979 opened #20 "aws-external-dns.yaml fails on Argocd"
`Failed build model due to couldn't auto-discover subnets: unable to discover at least one subnet`

And
`time="2021-04-19T17:20:35Z" level=fatal msg="flag parsing error: required flag --source not provided"`

[2021-04-19 17:47] #15 closed

[2021-04-19 17:50] DavidSpek commented on #20
I'll look through the docs to try and find a solution tomorrow, unless you are able to find the solution before then.

[2021-04-19 17:51] DavidSpek commented on #16
Closing this issue as I believe it was solved according to https://github.com/argoflow/argoflow-aws/issues/15#issuecomment-822638497. If not, please let me know and I will reopen.

[2021-04-19 17:51] #16 closed

[2021-04-20 09:36] #20 closed

[2021-04-20 09:36] DavidSpek commented on #20
This was caused by an incorrect manifest which is now fixed.

[2021-04-20 09:42] DavidSpek opened #21 "Tracking Issue AWS integration"
Creating a quick list of things that still need to be done so we can track progress.

What still needs to be done:
[ ] Cognito setup with AWS LoadBalancer controller
[ ] Setup Cognito with OIDC Authservice
[ ] Documentation for Cognito integration and IAM setup
[ ] Use RDS for pipelines database
[ ] Use S3 for pipelines instead of MinIO
[ ] AWS plugin for profile controller?

[2021-04-20 09:47] DavidSpek commented on #21
@karlschriek @matty1979 I'm expecting you guys will run into a lot more things while working on this deployment so it would be good to document that here.

Ping @samdobson In case you are interesting in helping out.

Also ping @PatrickXYS in response to https://github.com/kubeflow/manifests/pull/1832#issuecomment-822859477 if anybody from AWS would like to help out with this effort.

[2021-04-25 04:13] PatrickXYS commented on #21
This is part of KFP support, if we want to enable this, this should be added in kubeflow/pipelines instead.

Same for KFP

For other parts of Cognito stuff, we will explore those in AWS distribution, so I don't think we will be able to contribute to argoflow.

[2021-04-26 09:40] DavidSpek commented on #21
@PatrickXYS The AWS integrations for things like Cognito in ArgoDlow would all be kustomize manifests, so they would likely be the same as for the AWS distribution.

[2021-04-27 00:15] PatrickXYS commented on #21
@DavidSpek  I agree, so you can simply check out AWS side best practice after we're done with those features.

[2021-04-27 08:54] DavidSpek commented on #21
Somewhat related PR/issue about enabling AWS ALB authentication in KFP SDK Client: https://github.com/kubeflow/pipelines/pull/4182

[2021-04-29 19:55] matty1979 opened #31 "setup_repo.sh errors"
On Mac OS
`Darwin Kernel Version 20.3.0`

[code]

Unable to run the setup_repo.sh command without numerous errors.

[2021-04-29 21:30] matty1979 opened #32 "kustomize build argocd results in error"
`kustomize build distribution/argocd/ | kubectl apply -f -`
`error: unable to recognize "STDIN": no matches for kind "ExternalSecret" in version "kubernetes-client.io/v1"`

[2021-05-05 14:41] DavidSpek commented on #32
@karlschriek Is the external secrets a hard requirement for Argo CD. Isn't it just used for access to the git repository?

[2021-05-05 15:44] karlschriek commented on #32
Ah, yes actually we should make that kustomizable. It is needed if you want
to sync from a private repo.

On Wed, 5 May 2021, 16:41 DavidSpek, ***@***.***> wrote:

[2021-05-18 13:00] GetOn4 commented on #31
Added a PR for an extra Script that is valid on macos

[2021-05-18 13:06] DavidSpek commented on #31
Closing this issue since it has been resolved by @GetOn4.

[2021-05-18 13:06] #31 closed

[2021-05-18 13:08] matty1979 commented on #31
Will test later today, but thank you!

[2021-05-27 12:01] mtszkw opened #80 "Invalid link to certificate-manager policy in README"
In [this section](https://github.com/argoflow/argoflow-aws#certificate-manager) of README:

Link to certificate-manager policy doesn't work, it is not present in [iam-policies](https://github.com/argoflow/argoflow-aws/tree/master/docs/iam_policies) directory.

[2021-05-28 06:49] mtszkw opened #84 "Cannot find Kubeflow deployment"
Hi @DavidSpek @karlschriek and others,

I just forked argoflow-aws repo, configured it and deployed onto my AWS account. I wanted to used pretty basic configuration (in kustomization.yaml) i.e. no external domain, auth etc. I managed to get argoflow up and running, however **I cannot see any Kubeflow-related pods or services** (I was particularly looking for ingress-gateway as Kubeflow UI). Could

[2021-05-28 07:11] DavidSpek commented on #80
That's for bringing this up. I'll take a look at this in a moment.

[2021-05-28 07:12] DavidSpek commented on #84
Did you apply the kubeflow.yaml file? It looks like all that was deployed is Argo CD.

[2021-05-28 07:14] mtszkw commented on #84
Yes, I did:

[code]

I just noticed that I used invalid git repo url (with no `.git` suffix).
No idea if this was the issue, but I am now trying to set it all up from scratch.

[2021-05-28 07:17] DavidSpek commented on #84
The best way to debug stuff is usually the Argo CD UI. Given that nothing was deployed you'll probably see an error with the Kubeflow application in the UI. Personally I don't use the .git prefix for the repo and I haven't noticed any problem with that.

[2021-05-28 07:17] mtszkw commented on #84
I could see one error in KF app saying that git repo secret was not found

[2021-05-28 07:26] DavidSpek commented on #84
That probably blocked the deployment. I need to run an errand at the moment, but I can look at what is causing this afterwards.

[2021-05-28 07:27] mtszkw commented on #84
Thanks a lot, I'll be waiting

[2021-05-28 08:17] DavidSpek commented on #84
What you can do is just manually apply the applications from the argocd-applications directory that you want to deploy. The Kubeflow.yaml is mainly meant as a convenient way to deploy everything at once. This way you don't have to wait for me to continue with your work.

[2021-05-28 08:49] mtszkw commented on #84
Redeployed and I still can see `ComparisonError: secret "git-repo-secret" not found`.  How (and why) should I set up this secret correctly for a public git repo? More than that, I am unable to sync or edit my app configuration in Argo UI, because:

Which might make sense as I run this deployment only on my localhost, so I guess this can all be offline.

[2021-05-28 09:16] DavidSpek commented on #84
I've seen that Argo UI error come up a few times, and refreshing usually solves it. Are you using the port-forward method from the Argo CD documentation to access the UI? Were you able to deploy the individual application specs?

[2021-05-28 09:22] mtszkw commented on #84
I am using port-forward to access UI, I managed to deploy individual apps manually, they show up in applications tab but they have the same problem as kubeflow: Status Healthy, Sync Unknown, git-repo-secret Error

[2021-05-28 09:35] GetOn4 commented on #84
Hello @mtszkw

The git-repo-secret is the username/password that argoCD needs to connect to github for accessing the Manifests.
You should have one Pod running external-secret in kube-system namespaces. This one pulls the secret from Secret Manager in AWS and put it inside the cluster.
Try to check the logs from this pod. If the Secrets are not there argoCD is unable to fetch the manifests

[2021-05-28 09:39] mtszkw commented on #84
Hi @GetOn4. This pod is up and running, no suspiciosu events, although one thing I noticed in pod logs is:

[code]

I think this one was missing in config and could not be replaced properly ([this PR](https://github.com/argoflow/argoflow-aws/pull/78/files) seems to fix it).

[2021-05-28 09:41] GetOn4 commented on #84
If the pod is up and running without errors it should get the secrets from AWS Secret Manager and create the secrets in the cluster.
I've got some permission errors by setting this up

[2021-05-28 09:42] mtszkw commented on #84
`kubectl get secret git-repo-secret -n argocd`

Which is exactly the error I see in Argo UI

[2021-05-28 09:45] GetOn4 commented on #84
You won't see an error since the deployment is fine. You should see some erros in the exteernal-secrets pod.

 The file in argoflow-aws/distribution/argocd/secret.yaml describes the secrets.

[2021-05-28 09:52] GetOn4 commented on #84
It causing problems. You should set it.
Are you sure the deployment of argoCD is fine? Can you access the dashboard?
Further do you have the external-secret pod running in kube-system?
`kubectl get pods -n kube-system `

[2021-05-28 09:58] mtszkw commented on #84
Yes, external-secret pod is running in kube-system, has no error events (https://github.com/argoflow/argoflow-aws/issues/84#issuecomment-850291729)

ArgoCD seems fine, I can access the dashboard, see applications running, but: https://github.com/argoflow/argoflow-aws/issues/84#issuecomment-850281558

[2021-05-28 10:02] GetOn4 commented on #84
That's weird.
You should have the secrets if there are no errors shown

[2021-05-28 10:59] mtszkw commented on #84
Ok, after re-running everything:

- external-secrets pod is running in kube-system namespace,
- external-secrets pod successfully created, image pulled, scheduled,  no error events,
- this time AWS_ROLE_ARN is setup successfully (no placeholder),

but:

- still no `git-repo-secret` in `argocd` namespace,
- in ArgoCD UI I have Kubeflow application which still has an Error:

[2021-05-28 11:03] GetOn4 commented on #84
Could you please show me the logs from the external-secret pod?

[2021-05-28 11:07] mtszkw commented on #84
Oh, I was only looking at the events history, forgot about logs, yeah. That makes more sense now.

[2021-05-28 11:35] karlschriek commented on #84
@mtszkw if you are using "Option 2" as described in the README, please see the updated instructions here: https://github.com/argoflow/argoflow-aws/pull/87

The policy to allow the external-secret IRSA role to assume the roles for each specific secret was missing.

[2021-06-02 10:18] DavidSpek commented on #84
@mtszkw Not sure if you are still having this problem, but I believe removing [this](https://github.com/argoflow/argoflow-aws/blob/708e0e0ddff60d99d0d66ed8ffe34d7144e65a94/distribution/argocd/configmap-patch.yaml#L26) section will fix not needing a secret when using a public repository.

[2021-06-02 10:27] karlschriek commented on #84
I guess we should probably make the base ArgoCD spec for public repos and then make a overlay that requires credentials for a private one

[2021-06-04 06:32] mtszkw commented on #84
@DavidSpek @karlschriek I paused this project for a moment, will probably come back to this after weekend

[2021-06-07 09:36] zemarx opened #99 "Error connecting to mysql database"
When trying to setup pipelines, the `create-pipelines-database` deployment fails.
All the db connection parameters should be correct, i can connect to it manually.

![Screenshot 2021-06-04 at 21 45 39](https://user-images.githubusercontent.com/11560744/120995003-aeafb900-c78d-11eb-8426-1c7f788fd1c8.png)

`distribution/kustomization.yaml`

[code]

[2021-06-08 01:57] soleares commented on #21
@DavidSpek Are all of the AWS integrations relatively complete besides Cognito? We currently have the standard KF 1.2 distribution deployed on AWS and I’m wondering if this distribution is at a good place for us to try it.

Is this required if we’re not using Cognito?

[2021-06-08 07:37] DavidSpek commented on #21
@soleares Most of the AWS integrations are complete. Cognito we just haven’t gotten around to yet, but from what I’ve read it shouldn’t be difficult to setup with Oauth2-Proxy.

The plug-in for the profile controller is just to delegate IAM roles to users and their workloads, it shouldn’t be necessary for anything else.

[2021-06-08 15:52] soleares commented on #21
@DavidSpek What Kubeflow components use this plug-in? Is it required for basic pipeline functionality?

[2021-06-10 15:07] amybachir opened #126 "Missing IAM Role Policies"
I noticed the following IAM role policies are missing from https://github.com/argoflow/argoflow-aws/tree/master/docs/iam_policies:

- oauth2_proxy
- kubeflow_pipelines
- cert-manager
- kube2iam_pipelines

[2021-06-14 14:52] AmadiL opened #130 "Programmatic access and authentication/authorization"
Hi,
looking into the main Kubeflow project and it seems that there is an issue when trying to programatically authenticate and authorize.
With Dex it seems to involve some workaround: https://github.com/kubeflow/kubeflow/issues/5345
while with cognito it's impossible (involves pasting cookies by hand): https://github.com/kubeflow/pipelines/pull/4182

Did you happen to address this issue in your pr

[2021-06-14 16:46] DavidSpek commented on #21
@soleares The profile controller uses the plugin for service accounts. It is not necessary for functionality of the components.

[2021-06-14 18:15] DavidSpek commented on #130
@AmadiL Am I assuming correctly that the main reason you need the authentication through the Gateway is for Kubeflow Pipelines? Or are you also needing this for KFServing? I’d like to hear more about your use case so that we can come up with a better method to handle these types of policies.

The cookie method works with Oauth2-Proxy (though the name of the cookie is different). For the KFP SDK a

[2021-06-15 10:54] AmadiL commented on #130
1. Kubeflow Pipelines (REST and with kfp) and models (KFServing or Seldon).
Example usecases:
   - deploy pipelines with CI/CD,
   - trigger pipelines,
   - run inference on the models.

2. The cookie method doesn't work when we want to give the access token/credentials to the pipeline or some other application running outside the cluster.

3. OAuth2-Proxy, Dex and Keycloak are all OAuth2/OIDC pro

[2021-06-15 12:35] DavidSpek commented on #130
@AmadiL Could you maybe expand a bit how machine2machine authentication works in this workflow. I'm not familiar with it, but reading up on it now. It does look similar to something I've seen before, which gives me hope that we can use this to provide a better authentication experience for the entire Kubeflow setup.

[2021-06-15 13:03] AmadiL commented on #130
M2M with OAuth2 is a little bit tricky, I'm not an expert and just researching it to solve this particular issue.
You can ask the provider for access token with Client Credentials Grant using `client_id` and `client_secret`:
https://www.oauth.com/oauth2-servers/access-tokens/client-credentials/
https://www.appsdeveloperblog.com/keycloak-client-credentials-grant-example/
There seems to also be a Pa

[2021-06-15 13:14] DavidSpek commented on #130
Obviously, using the client ID and secret is something that needs to be done very carefully. On GCP, the pipelines SDK has an authentication flow that I think is somewhat similar, and could hopefully be more generalized for a generic OIDC/OAuth setup.

https://www.kubeflow.org/docs/distributions/gke/pipelines/authentication-sdk/#connecting-to-kubeflow-pipelines-in-a-full-kubeflow-deployment

Does

[2021-06-15 13:17] AmadiL commented on #130
Yes, I believe this is exactly OAuth2 Client Credentials Grant with GCP's IAP:
https://cloud.google.com/iap/docs/authentication-howto#authenticating_from_a_desktop_app

[2021-06-16 07:02] zemarx commented on #99
Now that i've tried again with new changes in the master, it started to work.

[2021-06-16 07:02] #99 closed

[2021-06-16 08:16] zemarx opened #134 "Error when getting artifacts from s3 in pipelines UI"
Here are logs from `ml-pipeline-ui-artifact`

[code]

Still artifcats are saved successfully to the s3 bucket and pipelines are running without problem.

[2021-06-16 09:24] DavidSpek commented on #134
@zemarx When did you do your deployment? We pushed an update for the Pipelines deployment yesterday that should address this issue. When we were running into it the access denied error, the cause was a mistake in the AWS policies.

[2021-06-16 09:25] DavidSpek commented on #99
Sorry for missing this issue. Happy to hear that you've solved the problem.

[2021-06-16 10:17] zemarx commented on #134
I did it yesterday after the merge of 'feature/kfp testing' pr. But maybe i'm missing something or something hasn't updated properly, because i deployed it after trying to deploy master before those changes, so it wasn't a fresh install.

[2021-06-16 16:06] zemarx commented on #134
Still no luck. Maybe something with metadata endpoint `http://169.254.169.254/latest/meta-data/iam/security-credentials/...`? It seems that it doesn't return the necessary data or even returns error. I've tried googling it (https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instancedata-data-retrieval.html), but still not sure what is the problem, maybe i have to do something with ec2 worker inst

[2021-06-16 17:47] amybachir opened #135 "istio-operator argocd application is pointing to targetRevision: HEAD"
Should the istio-operator argocd application sync from `HEAD` ? I think it might be a better idea to sync from a specific version.

Which version of istio-operator was the kubeflow installation tested with?

[2021-06-17 16:38] zemarx commented on #134
I now got it working, i have an autoscaling node group created for eks cluster and i had to add s3 permissions to that autoscaling group role

[2021-06-17 16:38] #134 closed

[2021-06-18 14:03] amybachir commented on #130
@AmadiL Here is how I got around programmatically authenticating kubeflow with cognito. It's an ugly workaround but it's the only one I could come up with.

1. I created a service account in cognito. Just a regular "User Pool" user but designated that for programatic access. You can keep its credentials in AWS secret manager and get them from there in your CI/CD pipeline
2. I wrote a python packag

[2021-06-20 11:51] EKami opened #140 "Protecting private data from forked repositories"
I'm not very fluent with argocd but the way I understand it some applications rely on the github repo to pull the Kustomize scripts instead of using the scripts locally, and that's not really convenient to keep the data private.

Let me illustrate what I want to say with an example.
Lets take the `distribution/argocd-applications/istio.yaml`  app, the k8s CRD definition is this:
[code]

where `<<_

[2021-06-22 15:22] amybachir opened #144 "Configure Istio Tracing Backend"
I'm trying to configure datadog tracing agent as istio's tracing backend. Where do I find this configuration?

[2021-06-22 15:23] DavidSpek commented on #144
I've got this implemented already using Jaeger, but I still need to add it here.

[2021-06-24 15:29] amybachir commented on #144
Thanks @DavidSpek any idea when you plan to add tracing config here? The more config flexibility the better, especially when it comes to istio.

[2021-06-29 00:28] amybachir opened #153 "External DNS Does not Create Route53 Records from Gateways"
Hi! My external-dns installation would not create records in Route53 unless I added the following annotation to all my Gateways:

`external-dns.alpha.kubernetes.io/target: <elb's-dns-record>.elb.<aws-region>.amazonaws.com`

I had to grab the DNS name for the nlb manually and add the annotation above. Did I miss something?

[2021-06-29 22:38] soleares commented on #153
Are you referring to `istio-ingressgateway` or something else? The only external-dns annotation I can find in the repo is in the `istio-ingressgateway` config: https://github.com/argoflow/argoflow-aws/blob/master/distribution/istio/istio-spec.yaml#L54.

When I did a recent install it created [these entries](https://github.com/argoflow/argoflow-aws/blob/master/examples/setup.conf#L48) in route53 ba

[2021-06-30 02:39] amybachir commented on #153
@soleares Thanks for responding my inquiry. It seems there was an error "Unauthorized" in external-dns log. Restarting the pod just fixed. I don't understand what the issue was but it seems to be working as expected.

[2021-06-30 02:39] #153 closed

[2021-06-30 05:06] soleares commented on #153
@amybachir Good to hear. Kind of sounds like an issue I had when the service account for the load balancer controller wasn't setup correctly - so it didn't assume the right IAM role and showed an unauthorized error. After I fixed it and restarting the pod it resolved it.

[2021-06-30 05:17] soleares commented on #126
Agree, this needs to be updated in the README.

From what I understand, the following are for experimental features that don't work yet and are disabled in kustomization.yaml so you shouldn't need to set them up.
- kubeflow_pipelines
- kube2iam_pipelines

I used this policy for cert-manager but with the specific hosted zone id in the second statement. I'm not 100% sure it's working yet, but that's

[2021-06-30 05:29] soleares commented on #140
I would recommend [forking to a private repo](https://gist.github.com/0xjac/85097472043b697ab57ba1b1c7530274). The private repo setup steps with Argo CD in the README work. Then you can:
- Apply the variable substitutions (manually or in a CD workflow) and commit the changes to a branch. Specify the branch in `<<__git_repo.target_revision__>>` and then Argo CD will watch it for changes.

You could

[2021-07-02 03:25] amybachir opened #160 "TLS Termination at Load Balancer"
What changes do I need to make to terminate TLS at the load balancer?

I've already done the following:

1. I'm using AWS certificate manager so I added my certs arn to istio-ingressgatway service.
2. I removed 443 port config from the Gateways.

I noticed there are some EnvoyFilter objects. I think I might have a problem with the [proxy protocol filter](https://github.com/argoflow/argoflow-aws/bl

[2021-07-03 02:38] soleares commented on #130
It looks like oauth2-proxy only supports user flows and not the client credentials flow: https://github.com/oauth2-proxy/oauth2-proxy/issues/698.

This Kubeflow distribution with oauth2-proxy does work with OIDC and external IDPs like Okta.

I've used the client credentials flow in the past for api calls that are not user scoped. I'm curious how that would work here since I assume with Kubeflow yo

[2021-07-03 08:58] EKami commented on #140
Thanks for the reply @soleares , I was thinking, maybe [Kustomize replacements](https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/replacements/) is the way to go. The problem that I still see with forking my own private repo is that, if my cluster changes, then I'll have to reconfigure everything from scratch and throw away my custom fork/branch that may include new updates ove

[2021-07-03 09:25] DavidSpek commented on #140
The entire point of Argo CD is that is syncs with a Git repository and continuously monitors it. It’s not possible to use Argo CD with files you have on your local computer, since there is no way for Argo CD to access them. You’re options are to use a private repository, or even a private GitLab instance if that’s something you would want to do.

I’m not sure what you mean by “if my cluster change

[2021-07-03 09:28] EKami commented on #140
Yes I understand that, that's the GitOps principle.

Ok, my goal here was to get rid of the hacky "setup.conf" var replacement with `sed` and use a more standardise approach with Kubeflow replacements.

That's an idea, thanks :)

[2021-07-03 09:40] DavidSpek commented on #140
The idea behind doing a simple setup and replace was to keep it as simple as possible. After the values are placed, all the manifests are tailored to you and a simple source of truth. You are then free to make any changes you want or need in the manifests. Using a complicated overlay for the entire repo, while it might be possible, makes the setup more confusing and difficult for people to underst

[2021-07-03 09:48] EKami commented on #140
I understand, thanks for the clarifications, I'll give up on my Kustomize replacement thing then and try to make it work on my own private repo :)

[2021-07-03 09:48] #140 closed

[2021-07-03 09:49] DavidSpek commented on #140
If you run into any problems you know where to find me :).

[2021-07-03 09:51] EKami commented on #140
Yes, thanks a lot @DavidSpek :D

[2021-07-03 21:38] EKami commented on #126
Same issue here, the main issue I have is for the `oauth2_proxy` role, no idea what permission it needs

[2021-07-03 22:17] soleares commented on #126
I would personally start with no permissions for this role and then if it’s not working it will tell you in the logs if it needs something additional.

[2021-07-06 18:03] soleares opened #166 "Current Kiali configuration isn't working"
Has anyone gotten Kiali to work?

- When I enable Kiali and try to access it, it throws an RBAC error in the UI.
- The current operator configuration doesn't look correct because it tries to setup an ingress for `kiali.example.com`: https://github.com/argoflow/argoflow-aws/blob/master/distribution/argocd-applications/kiali.yaml#L28-L39

[2021-07-06 18:07] DavidSpek commented on #166
I have Kiali working, but it is still in the kfserving feature branch as I was using it to debug KNative and KFServing. Same thing goes for Jaeger.
Note: I've moved Kiali to the monitoring namespace as a test so it could pickup on the Grafana secret. Another difference it to use Istio to route to Kiali instead of an ingress, since the ingress configuration was being annoying and Istio was easier t

[2021-07-07 18:43] soleares commented on #166
Thanks @DavidSpek. That's helpful and should give me what I need to get it working. Do you have a plan yet for the grafana secret? Will you duplicate it in both namespaces or move grafana into the monitoring namespace?

[2021-07-07 19:02] DavidSpek commented on #166
What I've done now is move Kiali to the monitoring namespace. I think that's what you meant :). I'm actually busy rewriting the actual manifests to improve the Istio implementation and the usefulness of Kiali.

[2021-07-07 19:27] soleares commented on #166
Ah yes, that's what I meant :) I won't need this right away until so I'll let you continue and check in on it in a few weeks. Thanks again!

[2021-07-07 19:27] #166 closed

[2021-07-09 07:03] karlschriek commented on #135
hi @amybachir , thanks for poiting this out. I also saw this a few days ago. The HEAD here just points to which Helm chart will be used, the actual operator version is set in the helm parameters further down (1.10.2). But it probably makes sense to set a hard reference here that renovate also keeps up to take.

[2021-07-09 07:05] DavidSpek commented on #135
The chart version is actually 1.7 strangely enough. So I'm not sure what tag on GitHub that should point at.

[2021-07-09 07:09] karlschriek commented on #126
The missing policies were added with https://github.com/argoflow/argoflow-aws/pull/159

The oauth2-proxy Pod needs access to an ExternalSecret for the Client ID and Client Secret of the OIDC application. The policy for this is described here: https://github.com/argoflow/argoflow-aws/blob/master/docs/iam_policies/external-secrets_auth.json

[2021-07-09 19:08] soleares commented on #140
Thanks for linking to the replacements docs. I wasn't able to find those details previously. I've been going back and forth on which approach to use and I'm again considering using replacements (from an environment specific configmap) because I'm seeing some potential issues with this branch approach for my specific case.

If I take this approach and push to a branch per cluster in my argoflow-aws

[2021-07-09 20:12] soleares commented on #140
What's not great about kustomize replacements is that you either need to put all of the replacement inline in the kustomization.yaml file, or you can put 1 replacement per file and provide a list of files. Since there are lots of replacements in the project that's not great.

I looks like `kpt` can handle this but it's not supported yet by Argo CD so it would still be a 2 step process like it curr

[2021-07-10 04:13] soleares commented on #140
@EKami I just tried using replacements in the repo and I don't think they'll work at this point. My idea was to try to define a base configmap (that would be delivered in the repo) and then use replacements and overlays with environment specific (patched) configmaps.

- They work great for everything referenced in the top level `distribution/kustomization.yaml` mainly the Argo CD application objec

[2021-07-11 07:50] EKami commented on #140
@soleares Yeah so we had the same idea but I didn't have time to experiment with this.

:( yeah that completely defeats the purpose of having everything defined in one place.

Right I didn't think of this... that's a bummer :(

Thanks for looking into this! I guess we'll just stay with var replacement for the moment.

[2021-07-11 13:24] EKami opened #169 "Ext-dns crashing when "sources" are being used"
I'm getting this erro in `ext-dns`:
[code]
Resulting in a `CrashLoopBackOff` of the pod.
However if I remove these lines from [this file](https://github.com/argoflow/argoflow-aws/blob/master/distribution/argocd-applications/external-dns.yaml):
[code]

Then the pod gets healthy and stops crashing.
Any idea what's going on?

Thanks!

[2021-07-12 19:53] amybachir opened #171 "duplicate listener 0.0.0.0_8081 found"
I pulled in changes to my fork repo yesterday and I no longer have ingress working (I'm up-to-date with master now). I get the following error in istio-ingressgateway:
[code]
And I no longer see a listener on 8080:
[code]
I suspect this is related to https://github.com/knative/serving/issues/10160
However, the github issue suggests that it was fixed in istio 1.9.something

[2021-07-12 20:24] amybachir commented on #171
I confirm that removing knative-local-gateway gateway and service restores ingress:

[code]

[2021-07-13 01:09] amybachir commented on #171
I was mistaken, the fix for this issue has not made it to master yet. Some poeple suggested to work around this by installing istio, wait for istio resources to be up and running before installing knative. It was mentioned in the issue description that it is not deterministic and it appears to be a timing issue.

[2021-07-13 03:34] amybachir opened #172 "ml-pipeline Fatal error config file: While parsing config: invalid character '\'' looking for beginning of value"
ml-pipeline is CrashLoopBackOff with the following error in the log:

[code]
I checked all 3 config maps it uses and all 3 look well formed. The error msg is not very descriptive so I couldn't figure out what to look at. I'm running kubeflow off a fork repo and it is up t date with master.

[2021-07-14 13:08] DavidSpek commented on #169
@EKami Removing those lines essentially disables all the external DNS functionalities. What version of the chart are you using? Have you already checked the upstream project for similar issues?

[2021-07-14 13:23] EKami commented on #169
Hi David, I'm using the exact same configuration as the one shared in this repo, I didn't change anything. This is from my repo `external-dns.yaml`:
[code]

[2021-07-14 13:25] DavidSpek commented on #169
Were the values properly replaced before you deployed external DNS? I still see the placeholders in the yaml file you shared.

[2021-07-14 13:26] EKami commented on #169
And the terraform config to create the role:
[code]
with:
[code]

[2021-07-14 13:27] EKami commented on #169
Yes, here is what the replacement looks like:
[code]

[2021-07-14 13:32] DavidSpek commented on #169
I'm guessing this is most likely caused by incorrect IAM permissions. Have you looked at https://github.com/kubernetes-sigs/external-dns/issues/1840 already?

[2021-07-14 13:52] EKami commented on #169
They are mentionning:

But I have no idea where to add those endpoints

[2021-07-14 13:55] EKami commented on #169
As for the IAM permissions they look correct to me :thinking:

[2021-07-16 13:42] #144 closed

[2021-07-16 13:42] #126 closed

[2021-07-17 09:55] EKami commented on #169
Adding the `ClusterRole` didn't change anything, the pod is still crashing :(

[2021-07-17 12:32] EKami commented on #169
So this is what my ClusterRole looks like with:
[code]
I get:
[code]
and:
[code]

I have no idea why `projectcontour.io`, `gloo.solo.io`, `gateway.solo.io` and `zalando.org` are here, this looks very fishy to me to have these as default. But anyway, all the authorizations on the page you shared @DavidSpek seem to be already present.
I'll try to use my own custom-defined RBAC instead.

[2021-07-17 13:32] EKami commented on #169
Using:
[code]
Gives the same result :(

[2021-07-17 21:27] EKami opened #176 "Istio-operator, pod healthy but crds not being deployed"
When I deploy in my cluster I get this for `istio-operator`:
![1](https://user-images.githubusercontent.com/4030626/126049643-f3e6579e-5422-45ed-a407-c3c9d4efc8f8.JPG)

So everything seems fine until I get the pod logs:
[code]

and when I get try to get the crds:
[code]

No trace of istio crds resulting in this:
![2](https://user-images.githubusercontent.com/4030626/126049696-d4078087-f3b4-48b4-a0

[2021-07-17 22:20] EKami commented on #169
Update: So it seems if I'm able to get past [this issue](https://github.com/argoflow/argoflow-aws/issues/176) then the error gets a bit more explicit:
[code]

This would make sense as what made the pod crash in the first place were those two lines:
[code]

which could not work if `istio-operator` did not properly deploy the crds, thus I really need to find a way to fix #176 first

[2021-07-18 17:04] EKami commented on #176
Closing, it was probably something that I changed myself but the definition of `istio-operator.yaml` doesn't match what is currently on this repo, the is no configmap on this repo. Sorry for that.

[2021-07-18 17:04] #176 closed

[2021-07-18 17:57] EKami commented on #169
Solved by solving issue #176 , sorry for the trouble.

[2021-07-18 17:57] #169 closed

[2021-08-08 17:43] DavidSpek commented on #160
@amybachir Sorry for the slow reply, I've been very busy with something new that should make deploying Kubeflow a whole lot easier and more secure. I haven't tested this, but you should just need to remove port 443 and the redirect to it from the Gateways. You'd also need to set the correct loadbalancer type. Have you already tried removing the proxy protocol filter?

[2021-08-08 17:44] DavidSpek commented on #172
Are you still running into this error?

[2021-08-08 17:47] DavidSpek commented on #130
I believe I've figured out a way to allow for generating API keys, and thus also enable programmatic access. The downside is that the changes necessary are not very trivial. This is something I'm working on as a part of my new job, that I hope I will be able to port to ArgoFlow as well. Until that time, the cookie method might be the only way to go if your IdP doesn't support generating API tokens

[2021-08-14 15:35] EKami opened #200 "[Ext-dns] No endpoints could be generated from service X"
I'm having this error message poping-up in ext-dns, as a result none of my dns records are being updated. Any idea where that could come from?
Thanks!

[code]

[2021-08-15 18:58] EKami commented on #153
I guess that's the same issue I have [here](https://github.com/argoflow/argoflow-aws/issues/200) but adding `external-dns.alpha.kubernetes.io/target: <elb's-dns-record>.elb.<aws-region>.amazonaws.com` did not seem to work on my side :(

[2021-08-16 15:06] GetOn4 opened #201 "[Auth-Issue] LOGIN ERROR"
Hello,

I'm having problems sending a Request to the Inferenceservice.
KFServing seems to be having an issue with the Authentication flow.

The Inferenceservice shows Healthy and all Conditions as Ready on the Kubeflow Dashboard.

I'm issuing a Bearer Token at the Endpoint from Keycloak `/auth/realms/kubeflow/protocol/openid-connect/token`.
Afterwards, I'm checking if the token is valid at `/auth/

[2021-08-17 13:52] jaystary opened #202 "[OAuth2-Proxy] Timeout issue - refresh of cookies doesnt seem to work as anticipated"
Hello,

we noticed an "issue" here
https://github.com/argoflow/argoflow-aws/blob/master/distribution/oidc-auth/base/oauth2-proxy.yaml

[code]

The refresh doesnt seem to get updated as anticipated, at least not with the setup of redis as session store. When you then use the application, this will lead to frequent timeouts (401) after a while after which you have to reauthenticate - but this still

[2021-08-22 21:05] EKami commented on #153
I think I know why it's happening. If you look at the logs of `istio-operator` pod it actually doesn't install istio correctly sometimes, I have to redeploy the argocd app twice. It's only when the `istio-operator` is deployed correctly that you have to delete the `istio` app for argocd to recreate it and deploy the dns to route53 (again you have to look at the logs of the `istio-operator` pod, so

[2021-08-25 08:15] jaystary opened #204 "[ArgoCD] argocd-repo-server image pull from docker registry can fail"
Hi,

we recently ran into request limitation on the used alpine image with a deployment on docker in here, which made the argocd-repo-server fail.

https://github.com/argoflow/argoflow-aws/blob/master/distribution/argocd/base/patches/add-custom-kustomize.yaml

Can we parameterize that, so that we can define our own image sources?

Cheers.

[2021-08-25 09:37] matkosoric commented on #202
Fixed in [PR 205](https://github.com/argoflow/argoflow-aws/pull/205)

[2021-08-31 17:49] #204 closed

[2021-08-31 17:54] jaystary opened #219 "[Clusterrole] External Secrets permission error"
With the specified policy after the rollout we get an error in fetching external secrets from AWS Secretsmanager as it wants a **get** on that API group.

[code]

When adding the **get**, it works without issue.
[code]

What i find strange though is the fact that [create, update] was there originally and previously we still had succesful rollouts. Is there an issue with just adding the **get** to

[2021-09-03 00:20] jaystary opened #221 "[OAuth2-Proxy] Timeout issue - refresh of cookies doesnt seem to work as anticipated"
This seems to still not working as anticiapted:

https://github.com/argoflow/argoflow-aws/issues/202

We tried with GitLab IdP and the increase in time kept the app alive.

We then applied it to Okta, which in that specific case had a global setting that couldnt be changed for 4 hours expiry, and it keeps timing out (despite the OAuth cookie being set on the long period).

Thus we will keep invest

[2021-09-07 08:11] #201 closed

[2021-09-10 11:11] jaystary commented on #221
So for whatever reason, whilst working with Okta, it seems that the refresh is not properly working and when the configured time hits (by default 1h) it invalidates the cookie but doesnt present a new one.
We updated this now and this actually works fine if anyone would ever run into this issue (lets ignore for a sec that there is a reason why those cookies should be refreshed in short intervals)

[2021-09-10 11:11] #221 closed

[2021-09-12 13:03] jai opened #224 "Typos in root README.md"
Typo in the Deployment section: quatation -> quotation

[2021-09-14 07:19] jai opened #227 "[0.1.6] deploying argoflow-aws"
We're setting up Kubeflow (argoflow-aws) from scratch, including the infrastructure and hit some stumbling blocks along the way. Wanted to document them all here (for now) and address as needed with PRs etc.

I realize that #84 exists, happy to merge into there but I'm not sure that issue deals with the specific 0.1.6 tag. That might be part of my issue as well since some things are more up-to-dat

[2021-09-14 08:09] jai opened #228 "Add infrastructure creation code?"
There's quite a bit of infrastructure needed to deploy this repo (and Kubeflow in general). We are currently deploying argoflow-aws internally and are using Terraform to create the infrastructure resources.

This is still very much a work-in-progress: https://github.com/honestbank/argoflow-aws-infrastructure

Once it's in better shape, we could consider linking to this repo to potentially allow fo

[2021-09-19 07:24] jai opened #229 "QUESTION: roleArns for external-secrets when using Option 1"
Hi - when using [Option 1](https://github.com/argoflow/argoflow-aws/blob/master/docs/iam_policies/external-secrets-option-1.json) for the external-secrets role, what are the expected values to be placed in [setup.conf](https://github.com/argoflow/argoflow-aws/blob/master/examples/setup.conf) for the following lines?

[code]

[2021-09-19 13:05] EKami commented on #227
Wow, thanks a lot for this! Very helpful!

[2021-09-19 13:14] EKami commented on #227
I would also add:
__Ext-dns record not created in route53:__

Delete the `istio` app in the argocd dashboard, it will recreate the resource and update the DNS entries.
The deployment of ext-dns **must** happen in this order:
`istio-operator`-> `external-dns` -> `istio-resources` -> `istio`
to properly update the DNS entries.

Might be possible to fix with:
[code]

[2021-09-19 21:48] EKami commented on #227
Any idea why `knative` is not synchronizing properly?

[2021-09-19 23:38] EKami opened #230 "Named cookie not present, removing session"
When I'm trying to access `kubeflow.mydomain.com` I get this in my `oauth2-proxy` pod.

[code]

and this from my ingress-gateway:
[code]

Any idea what's going on? Thanks

[2021-09-21 10:20] jai commented on #227
yes there are a few applications/scenarios that need to happen in the correct order it seems. One is definitely the `external-dns` - I am trying to be diligent and write down the others as I see them but it's super hard to make sure of one order of events given the sheer number of ArgoCD Applications!

[2021-09-21 10:24] #224 closed

[2021-09-21 10:29] jai commented on #227
There are a few apps that are fighting with K8s - `caBundle` fields going out of sync - I had this with the Knative install in our regular compute cluster too. Below is the `ignoreDifferences` we use for our Knative install:

[code]

The argoflow-aws Knative ArgoCD Application is going out of sync on the following objects:

* `MutatingWebhookConfiguration`
  * `webhook.domainmapping.serving.knativ

[2021-09-21 10:35] DavidSpek commented on #227
@jai Thanks for the very detailed issue thread you've started here. Sadly I haven't had much time to dedicate to the ArgoFlow repositories since starting my new job. However, there are a lot of very big Kubeflow improvements I'm working on. Basically it's a completely redesigned architecture that simplifies Kubeflow and adds better security and more advanced features around User/Group/Project mana

[2021-09-21 10:36] jai commented on #227
ArgoCD Applications that are flip-flopping - not sure what the technical term is. Basically ArgoCD installs one manifest the the cluster seems to override some values, causing an update tug-of-war kind of thing:

* `aws-eks-resources`
* `istio-resources`
* `kfserving`
* `knative`
* `notebook-controller`
* `pipelines`
* `pod-defaults`
* `roles`

[2021-09-21 10:36] DavidSpek commented on #219
Sorry for the late response, I've been very busy with a new job. The fix for this should be merged now.

[2021-09-21 10:36] #219 closed

[2021-09-21 10:39] jai commented on #227
Does argoflow/argoflow-aws use vanilla Knative? If I understand what you're saying, we would have to maintain a Helm repo with the Knative manifests, which sounds like one more thing to maintain. Is there a way we can point it at the [Knative Operator](https://github.com/knative/operator) and then just install a CRD? I might be way off base since I've only been working with Argoflow/Kubeflow for a

[2021-09-21 10:43] DavidSpek commented on #227
What you're saying is completely correct. The Knative Operator is probably a good fit to reduce the maintenance overhead. However, I haven't yet had time to look into it. The Istio <-> Knative <-> KFServing interplay is very fragile and took a couple weeks to get working properly (which also hasn't been upstreamed yet), so implementing the Knative Operator would need some special attention and tes

[2021-09-21 12:03] jai commented on #227
I'm at an early-stage startup so my availability is super patchy - I wouldn't want to start something and leave it hanging halfway. I will poke around at the KFServing/Knative parts and see what's going on - no promises I can take this on but I will always do what I can!

[2021-09-28 04:20] jai commented on #227
Update - also running into this issue: https://github.com/kserve/kserve/issues/848

[2021-10-08 16:44] amybachir opened #233 "MLflow in central dashboard is not a valid page"
Hi! I'm running off latest commit in argoflow as of today (commit hash cdce0fc7a9fc72d00f0fad911b015bff4016e585) and I have central-dashboard-mlflow turned on. I can see the mlflow tab in the central dashboard but it returns `Sorry, /mlflow/abachir/ is not a valid page` for my user when I click on it

![image](https://user-images.githubusercontent.com/19543576/136593504-20d22d7c-9560-4700-ac5b-186

[2021-10-08 16:48] amybachir opened #234 "Central Dashboard Manage Contributors Unable to add new contributor for user: [object Object]"
Hi! I'm running off latest commit in argoflow as of today (commit hash cdce0fc). I'm unable to add a contributor to my workspace. Attempting to a add a user returns the following error:
`Unable to add new contributor for user: [object Object]`

![image](https://user-images.githubusercontent.com/19543576/136593822-52955651-8a95-41e8-9ee9-fb060dfa1238.png)

[2021-10-08 16:56] amybachir opened #235 "Community Support Slack Channel"
Hi! I was wondering if you could setup a support slack channel so users can request support and/or help each other there. It's difficult to troubleshoot through a Github issue.

I've been running argoflow for few months now in a large enterprise and I'm happy to help other users troubleshoot issues that I have seen previously.

[2021-10-12 19:03] soleares commented on #160
@amybachir Did you have any luck getting this working? I'm trying to do something similar - use ACM certs with the NLB and re-encrypt with self-signed certs in the cluster for end-to-end encryption. I've added the annotations to the load balancer but I'm getting `filter_chain_not_found` in the envoy proxy logs.

[2021-10-12 19:10] amybachir commented on #160
@soleares Yes, I got this working! However, I'm terminating tls at the AWS load balancer and using clear text for in-cluster communications so all communications past the load balancer are `http`. I can trace back my steps and provide a list of modifications I've done to get this working but I do remember having to remove the [proxy protocol filter](https://github.com/argoflow/argoflow-aws/blob/ma

[2021-10-12 19:14] amybachir commented on #172
@DavidSpek sorry for the late response on this! This seems to have been fixed after upgrading to v0.1.5

[2021-10-12 19:23] amybachir commented on #160
@DavidSpek good catch! I didn't notice @soleares was referring to creating an NLB. Yes, definitely you need an ALB instead!
I removed the [service annotations](https://github.com/argoflow/argoflow-aws/blob/master/distribution/istio/istio-spec.yaml#L48) from istio-ingressgateway service and created an ingress object with an ALB:
[code]

[2021-10-16 02:53] jai commented on #233
Are you accessing the console via port-forwarding or through the publicly-mapped FQDN?

[2021-10-19 20:29] amybachir commented on #233
I’m using a public domain name.

[2021-11-12 16:58] GetOn4 commented on #234
Do you have some news on this?

[2021-11-12 17:19] amybachir commented on #234
@GetOn4 Nope and I haven't had a chance to troubleshoot this yet. I think it might be a problem in the central dashboard cuz I can add contributors manually through `kubectl` by following the [documentation on kubeflow](https://www.kubeflow.org/docs/components/multi-tenancy/getting-started/#managing-contributors-manually)

I did notice that `add-contributor` endpoint sometimes gets a 404 and somet

[2021-11-24 08:09] raghulkrishna opened #236 "How to upgrade to pipelines version 1.7.1"
how can I upgrade the pipeline components to v1.7.1 there are some important bug fixes in version 1.7.1

[2021-11-30 06:20] haoxins opened #237 "Consider to migrate from KFServing to KServe?"

[2021-12-07 13:16] haoxins opened #238 "Migrate to Tempo?"
https://github.com/grafana/tempo

If so, no need Cassandra or Elasticsearch (Jaeger) any more~

[2022-01-19 07:21] jai commented on #227
Update - ignoreDifferences is done, I'm currently validating and will submit PRs. Sorry for the long lead time!

[2022-03-02 14:17] seanpascual commented on #236
Hi @raghulkrishna I'm not sure if you've already upgraded to pipelines 1.7.1, but I have managed to upgrade to 1.8.1 by bumping the versions of the images to 1.8.1.

This is in the file located in distribution / kubeflow / pipelines / kustomization.yaml

I also bumped up the version of these two images:
[code]

[2022-07-08 18:26] alfredox10 commented on #229
If you went with option one, you can delete those lines from the config files, they aren't needed.